html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow:hidden;
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#ui-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  > * {
    display: flex;
    flex: 1;
    pointer-events: none;

    > * {
      display: flex;
      flex-direction: column;
      flex: 1;
      pointer-events: none;

      > * {
        pointer-events: all;
      }
    }


    > #ui-center-center {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
canvas {
  pointer-events: all;
}
.modal {
  position: relative;
}

.panel {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
  -1px 1px 0 #000, 1px 1px 0 #000;
  input:-webkit-autofill::first-line,
  input:-internal-autofill-previewed,
  input:-internal-autofill-selected,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
    font-size:16px !important;
  }

  button {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: none;
    &:focus, &:active, &[disabled] {
      color: #fff;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }

  label, .MuiInputBase-root {
    text-shadow: none;
  }

  .MuiButton-text .MuiButton-label {
    color: #fff;
  }

  div.error {
    height: 24px;
    padding: 4px 16px;
    font-size: 16px;
    color: #ff9294;
  }

  .MuiInputBase-root.MuiOutlinedInput-root > :first-child  {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
    height: 36px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 1px solid #679cfb;
    }
  }
  .MuiOutlinedInput-notchedOutline {
    border-radius: 8px;
  }

  .MuiFormControl-root, .MuiInputBase-root.MuiOutlinedInput-root, .MuiInputBase-formControl.MuiOutlinedInput-root {
    width: 100%;
    text-align: left;
  }

  .MuiInputBase-root.MuiOutlinedInput-root > .MuiSelect-outlined.MuiSelect-selectMenu {
    padding-right: 32px;
  }

  label.MuiInputLabel-root {
    transform: translate(14px, 12px) scale(1);
  }

  label.MuiFormLabel-root.MuiInputLabel-shrink {
    transform: translate(14px, -4px) scale(0.75);
    background-color: #fafafa;
    padding: 4px;
    margin-top: -6px;
    border-radius: 8px;
    color: #333;
    font-weight: 500;
  }
  .field-label {
    height:24px;
    display:flex;
    align-items:center;
    margin-top:8px;
  }
  .MuiButtonGroup-root  {
    border: 1px solid #f0f0f0;
    display:flex;
    button {
      box-shadow: none;
      flex:1;
    }
    button:not(.active) {
      background: transparent;
    }
    button.active {
      background-color: rgba(255,255,255,0.5);
    }
  }
  .MuiSlider-colorSecondary {
    color: #f0f0f0
  }
  .padding {
    padding: 0 16px;
    box-sizing: border-box;
  }
  .picker {
    > div {
      display:block !important;
    }
    > div:first-child > div:first-child {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
    .compact-picker {
      width:100% !important;
      span > div {
        width:24px !important;
        height:24px !important;
        > div {
          background:none !important;
          &:after {
            content: ' ';
            margin:-5px;
            box-shadow: 0 0 5px 2px rgba(255,255,255,0.5);
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            border: 2px solid #eee;
          }
        }
      }
    }
    .compact-picker > div:last-child {
      display:none !important;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
}
