.login {
  pointer-events: all;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 240px;
  min-height: 240px;
  color: #fff;
  text-align: center;
  .field {
    text-align:left;
  }
  .MuiOutlinedInput-root {
    background-color: #e0e0e0;
    input {
      padding: 8px 12px;
    }
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
  }
  .MuiFormControl-root {
    width:100%;
  }
  .MuiButton-text {
    color: #fff;
    margin-top:8px;
  }
}
